{% extends "base.html" %}

{% block content %}

<style>

.detail-container{
max-width:1000px;
margin:auto;
margin-top:40px;
display:flex;
gap:40px;
}

/* hình */

.product-image img{
width:400px;
border-radius:10px;
}

/* thông tin */

.product-info{
flex:1;
}

.product-info h2{
font-size:32px;
margin-bottom:10px;
}

.price{
color:red;
font-size:24px;
font-weight:bold;
margin:10px 0;
}

.desc{
margin-top:20px;
color:#555;
line-height:1.6;
}

/* button */

.btn{
display:inline-block;
margin-top:20px;
padding:12px 20px;
background:#6b8e23;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.btn:hover{
background:#4f6f17;
}

</style>

<div class="detail-container">

<div class="product-image">

<img src="{{ product.image.url }}">

</div>


<div class="product-info">

<h2>{{ product.name }}</h2>

<p class="price">{{ product.price }} đ</p>

<p class="desc">
{{ product.description }}
</p>


<form action="{% url 'add_to_cart' product.id %}" method="POST">
{% csrf_token %}

<button class="btn">
Thêm vào giỏ hàng
</button>

</form>

</div>

</div>

{% endblock %}